{% extends "layouts/base.html" %}

{% block content %}
<section class="p-section">
  <div class="row">
    <h1>{{ page.title }}</h1>
    <p class="p-text--small u-text--muted">{{ page.date.strftime("%d %B %Y") }}{% if page.owner %} · {{ page.owner.get_full_name() or page.owner.username }}{% endif %}</p>

    {% if page.image %}
    <div class="p-image-container--16-9 is-cover">
      {{ image(page.image, "fill-1200x675", class="p-image-container__image") }}
    </div>
    {% endif %}

    {% if page.intro %}<p class="p-heading--4">{{ page.intro }}</p>{% endif %}

    <div class="post-body">
      {{ page.body|richtext }}
    </div>
  </div>
</section>
{% endblock %}
