<header class="top-header is-dark">
   <div class="p-navigation__tagged-logo">
      <div class="p-navigation__logo-tag">
         <img class="p-navigation__logo-icon" src="{{ url_for('static', filename='img/quantiota-white-icon.svg') }}" alt="Lab Journal">
      </div>
      <span class="p-navigation__logo-title">Lab Journal</span>
   </div>
   <div class="header-actions">
      <button id="theme-toggle" class="theme-toggle-btn p-navigation__link">
         <span style="display: inline-flex; align-items: center;">
            <img src="{{ url_for('static', filename='img/sun-02-stroke-standard-white.svg') }}" alt="Light mode icon" class="theme-toggle-icon light-icon" width="24" height="24" style="display: block;">
            <img src="{{ url_for('static', filename='img/moon-02-stroke-standard-white.svg') }}" alt="Dark mode icon" class="theme-toggle-icon dark-icon" width="24" height="24" style="display: none;">
         </span>
      </button>
   </div>
</header>
